dash_html_components==1.0.3
ccxt==1.30.38
joblib==0.14.1
pandas==1.0.3
requests==2.23.0
dash==1.13.4
numpy==1.18.1
dash_daq==0.5.0
plotly==4.6.0
Flask==1.1.2
dash_table==4.8.1
dash_core_components==1.10.1
scikit_learn==0.23.1
numpy==1.18.1